.cronometro {
    display: flex;
    justify-content: center;
    position: relative;
}

.image {
    position: absolute;
}

.tiempo {
    position: absolute;
    margin: 163px 0;
    margin-left: 80px;
    font-size: 50px
}

.minutos {
    position: absolute;
    margin: 163px 0;
    margin-right: 40px;
    font-size: 50px
}

.mensaje {
    position: absolute;
    bottom: 10px;
    margin: 0 calc((100vw - 300px)/2);
}